@{
    ViewData["Title"] = "Index";
}

<section class="section hero" tabindex="0">
    <div class="hero--background">
        <div class="theme js-theme green active">
            <img src="//lh3.googleusercontent.com/jQrLB0S1fjOjqnJ145d0OBbOHHIR9nce1lnjzGL2YCvDK8ocxIZOM6wR3GNJLw=d" class="theme--layer theme--layer-1 vase" alt="Vase" sizes="21vw" srcset="//lh3.googleusercontent.com/jQrLB0S1fjOjqnJ145d0OBbOHHIR9nce1lnjzGL2YCvDK8ocxIZOM6wR3GNJLw=w32 32w,
                            //lh3.googleusercontent.com/jQrLB0S1fjOjqnJ145d0OBbOHHIR9nce1lnjzGL2YCvDK8ocxIZOM6wR3GNJLw=w48 48w,
                            //lh3.googleusercontent.com/jQrLB0S1fjOjqnJ145d0OBbOHHIR9nce1lnjzGL2YCvDK8ocxIZOM6wR3GNJLw=w64 64w,
                            //lh3.googleusercontent.com/jQrLB0S1fjOjqnJ145d0OBbOHHIR9nce1lnjzGL2YCvDK8ocxIZOM6wR3GNJLw=w96 96w,
                            //lh3.googleusercontent.com/jQrLB0S1fjOjqnJ145d0OBbOHHIR9nce1lnjzGL2YCvDK8ocxIZOM6wR3GNJLw=w128 128w,
                            //lh3.googleusercontent.com/jQrLB0S1fjOjqnJ145d0OBbOHHIR9nce1lnjzGL2YCvDK8ocxIZOM6wR3GNJLw=w192 192w,
                            //lh3.googleusercontent.com/jQrLB0S1fjOjqnJ145d0OBbOHHIR9nce1lnjzGL2YCvDK8ocxIZOM6wR3GNJLw=w256 256w,
                            //lh3.googleusercontent.com/jQrLB0S1fjOjqnJ145d0OBbOHHIR9nce1lnjzGL2YCvDK8ocxIZOM6wR3GNJLw=w384 384w,
                            //lh3.googleusercontent.com/jQrLB0S1fjOjqnJ145d0OBbOHHIR9nce1lnjzGL2YCvDK8ocxIZOM6wR3GNJLw=w512 512w,
                            //lh3.googleusercontent.com/jQrLB0S1fjOjqnJ145d0OBbOHHIR9nce1lnjzGL2YCvDK8ocxIZOM6wR3GNJLw=w768 768w,
                            //lh3.googleusercontent.com/jQrLB0S1fjOjqnJ145d0OBbOHHIR9nce1lnjzGL2YCvDK8ocxIZOM6wR3GNJLw=w1024 1024w,
                            //lh3.googleusercontent.com/jQrLB0S1fjOjqnJ145d0OBbOHHIR9nce1lnjzGL2YCvDK8ocxIZOM6wR3GNJLw=w1200 1200w,
                            //lh3.googleusercontent.com/jQrLB0S1fjOjqnJ145d0OBbOHHIR9nce1lnjzGL2YCvDK8ocxIZOM6wR3GNJLw=d 1600w">
            <img src="//lh3.googleusercontent.com/gz9btiN62BwKFzOWZO-DmTZDlraq172rVXTZ_TQwRDy8hT-VrzOVVfMp1nzupJY=d" class="theme--layer theme--layer-1 tea" alt="Cup" sizes="(min-width: 37.5rem) 11vw, 35vw" srcset="//lh3.googleusercontent.com/gz9btiN62BwKFzOWZO-DmTZDlraq172rVXTZ_TQwRDy8hT-VrzOVVfMp1nzupJY=w32 32w,
                            //lh3.googleusercontent.com/gz9btiN62BwKFzOWZO-DmTZDlraq172rVXTZ_TQwRDy8hT-VrzOVVfMp1nzupJY=w48 48w,
                            //lh3.googleusercontent.com/gz9btiN62BwKFzOWZO-DmTZDlraq172rVXTZ_TQwRDy8hT-VrzOVVfMp1nzupJY=w64 64w,
                            //lh3.googleusercontent.com/gz9btiN62BwKFzOWZO-DmTZDlraq172rVXTZ_TQwRDy8hT-VrzOVVfMp1nzupJY=w96 96w,
                            //lh3.googleusercontent.com/gz9btiN62BwKFzOWZO-DmTZDlraq172rVXTZ_TQwRDy8hT-VrzOVVfMp1nzupJY=w128 128w,
                            //lh3.googleusercontent.com/gz9btiN62BwKFzOWZO-DmTZDlraq172rVXTZ_TQwRDy8hT-VrzOVVfMp1nzupJY=w192 192w,
                            //lh3.googleusercontent.com/gz9btiN62BwKFzOWZO-DmTZDlraq172rVXTZ_TQwRDy8hT-VrzOVVfMp1nzupJY=w256 256w,
                            //lh3.googleusercontent.com/gz9btiN62BwKFzOWZO-DmTZDlraq172rVXTZ_TQwRDy8hT-VrzOVVfMp1nzupJY=w384 384w,
                            //lh3.googleusercontent.com/gz9btiN62BwKFzOWZO-DmTZDlraq172rVXTZ_TQwRDy8hT-VrzOVVfMp1nzupJY=w512 512w,
                            //lh3.googleusercontent.com/gz9btiN62BwKFzOWZO-DmTZDlraq172rVXTZ_TQwRDy8hT-VrzOVVfMp1nzupJY=w768 768w,
                            //lh3.googleusercontent.com/gz9btiN62BwKFzOWZO-DmTZDlraq172rVXTZ_TQwRDy8hT-VrzOVVfMp1nzupJY=w1024 1024w,
                            //lh3.googleusercontent.com/gz9btiN62BwKFzOWZO-DmTZDlraq172rVXTZ_TQwRDy8hT-VrzOVVfMp1nzupJY=w1200 1200w,
                            //lh3.googleusercontent.com/gz9btiN62BwKFzOWZO-DmTZDlraq172rVXTZ_TQwRDy8hT-VrzOVVfMp1nzupJY=d 1600w">
            <img src="//lh3.googleusercontent.com/Y1IHnQ0sM4cWJzRXAPAUA81jkwPmNDEq4nqhjUZN_oYhsyO-_UsuWx20Oy16acE=d" class="theme--layer theme--layer-1 slipper" alt="Slipper" sizes="15vw" srcset="//lh3.googleusercontent.com/Y1IHnQ0sM4cWJzRXAPAUA81jkwPmNDEq4nqhjUZN_oYhsyO-_UsuWx20Oy16acE=w32 32w,
                            //lh3.googleusercontent.com/Y1IHnQ0sM4cWJzRXAPAUA81jkwPmNDEq4nqhjUZN_oYhsyO-_UsuWx20Oy16acE=w48 48w,
                            //lh3.googleusercontent.com/Y1IHnQ0sM4cWJzRXAPAUA81jkwPmNDEq4nqhjUZN_oYhsyO-_UsuWx20Oy16acE=w64 64w,
                            //lh3.googleusercontent.com/Y1IHnQ0sM4cWJzRXAPAUA81jkwPmNDEq4nqhjUZN_oYhsyO-_UsuWx20Oy16acE=w96 96w,
                            //lh3.googleusercontent.com/Y1IHnQ0sM4cWJzRXAPAUA81jkwPmNDEq4nqhjUZN_oYhsyO-_UsuWx20Oy16acE=w128 128w,
                            //lh3.googleusercontent.com/Y1IHnQ0sM4cWJzRXAPAUA81jkwPmNDEq4nqhjUZN_oYhsyO-_UsuWx20Oy16acE=w192 192w,
                            //lh3.googleusercontent.com/Y1IHnQ0sM4cWJzRXAPAUA81jkwPmNDEq4nqhjUZN_oYhsyO-_UsuWx20Oy16acE=w256 256w,
                            //lh3.googleusercontent.com/Y1IHnQ0sM4cWJzRXAPAUA81jkwPmNDEq4nqhjUZN_oYhsyO-_UsuWx20Oy16acE=w384 384w,
                            //lh3.googleusercontent.com/Y1IHnQ0sM4cWJzRXAPAUA81jkwPmNDEq4nqhjUZN_oYhsyO-_UsuWx20Oy16acE=w512 512w,
                            //lh3.googleusercontent.com/Y1IHnQ0sM4cWJzRXAPAUA81jkwPmNDEq4nqhjUZN_oYhsyO-_UsuWx20Oy16acE=w768 768w,
                            //lh3.googleusercontent.com/Y1IHnQ0sM4cWJzRXAPAUA81jkwPmNDEq4nqhjUZN_oYhsyO-_UsuWx20Oy16acE=w1024 1024w,
                            //lh3.googleusercontent.com/Y1IHnQ0sM4cWJzRXAPAUA81jkwPmNDEq4nqhjUZN_oYhsyO-_UsuWx20Oy16acE=w1200 1200w,
                            //lh3.googleusercontent.com/Y1IHnQ0sM4cWJzRXAPAUA81jkwPmNDEq4nqhjUZN_oYhsyO-_UsuWx20Oy16acE=d 1600w">
            <img src="//lh3.googleusercontent.com/WrBvOY07H7-s7HBXAjxwftmhbRC9E6U0jFl-84rniR1UIJVDY4V9El19hkEWtA=d" class="theme--layer theme--layer-1 picture" alt="Picture" sizes="(min-width: 37.5rem) 17vw, 55vw" srcset="//lh3.googleusercontent.com/WrBvOY07H7-s7HBXAjxwftmhbRC9E6U0jFl-84rniR1UIJVDY4V9El19hkEWtA=w32 32w,
                            //lh3.googleusercontent.com/WrBvOY07H7-s7HBXAjxwftmhbRC9E6U0jFl-84rniR1UIJVDY4V9El19hkEWtA=w48 48w,
                            //lh3.googleusercontent.com/WrBvOY07H7-s7HBXAjxwftmhbRC9E6U0jFl-84rniR1UIJVDY4V9El19hkEWtA=w64 64w,
                            //lh3.googleusercontent.com/WrBvOY07H7-s7HBXAjxwftmhbRC9E6U0jFl-84rniR1UIJVDY4V9El19hkEWtA=w96 96w,
                            //lh3.googleusercontent.com/WrBvOY07H7-s7HBXAjxwftmhbRC9E6U0jFl-84rniR1UIJVDY4V9El19hkEWtA=w128 128w,
                            //lh3.googleusercontent.com/WrBvOY07H7-s7HBXAjxwftmhbRC9E6U0jFl-84rniR1UIJVDY4V9El19hkEWtA=w192 192w,
                            //lh3.googleusercontent.com/WrBvOY07H7-s7HBXAjxwftmhbRC9E6U0jFl-84rniR1UIJVDY4V9El19hkEWtA=w256 256w,
                            //lh3.googleusercontent.com/WrBvOY07H7-s7HBXAjxwftmhbRC9E6U0jFl-84rniR1UIJVDY4V9El19hkEWtA=w384 384w,
                            //lh3.googleusercontent.com/WrBvOY07H7-s7HBXAjxwftmhbRC9E6U0jFl-84rniR1UIJVDY4V9El19hkEWtA=w512 512w,
                            //lh3.googleusercontent.com/WrBvOY07H7-s7HBXAjxwftmhbRC9E6U0jFl-84rniR1UIJVDY4V9El19hkEWtA=w768 768w,
                            //lh3.googleusercontent.com/WrBvOY07H7-s7HBXAjxwftmhbRC9E6U0jFl-84rniR1UIJVDY4V9El19hkEWtA=w1024 1024w,
                            //lh3.googleusercontent.com/WrBvOY07H7-s7HBXAjxwftmhbRC9E6U0jFl-84rniR1UIJVDY4V9El19hkEWtA=w1200 1200w,
                            //lh3.googleusercontent.com/WrBvOY07H7-s7HBXAjxwftmhbRC9E6U0jFl-84rniR1UIJVDY4V9El19hkEWtA=d 1600w">
            <img src="//lh3.googleusercontent.com/6GftHp2q8zrjTzGG0Xz0zQZYGRh0YuUPyxNwVQLiaLjZboXhWs_TOfTzvxI9DLc=d" class="theme--layer theme--layer-1 letter-c" alt="Letter C" sizes="(min-width: 37.5rem) 7vw, 21vw" srcset="//lh3.googleusercontent.com/6GftHp2q8zrjTzGG0Xz0zQZYGRh0YuUPyxNwVQLiaLjZboXhWs_TOfTzvxI9DLc=w32 32w,
                            //lh3.googleusercontent.com/6GftHp2q8zrjTzGG0Xz0zQZYGRh0YuUPyxNwVQLiaLjZboXhWs_TOfTzvxI9DLc=w48 48w,
                            //lh3.googleusercontent.com/6GftHp2q8zrjTzGG0Xz0zQZYGRh0YuUPyxNwVQLiaLjZboXhWs_TOfTzvxI9DLc=w64 64w,
                            //lh3.googleusercontent.com/6GftHp2q8zrjTzGG0Xz0zQZYGRh0YuUPyxNwVQLiaLjZboXhWs_TOfTzvxI9DLc=w96 96w,
                            //lh3.googleusercontent.com/6GftHp2q8zrjTzGG0Xz0zQZYGRh0YuUPyxNwVQLiaLjZboXhWs_TOfTzvxI9DLc=w128 128w,
                            //lh3.googleusercontent.com/6GftHp2q8zrjTzGG0Xz0zQZYGRh0YuUPyxNwVQLiaLjZboXhWs_TOfTzvxI9DLc=w192 192w,
                            //lh3.googleusercontent.com/6GftHp2q8zrjTzGG0Xz0zQZYGRh0YuUPyxNwVQLiaLjZboXhWs_TOfTzvxI9DLc=w256 256w,
                            //lh3.googleusercontent.com/6GftHp2q8zrjTzGG0Xz0zQZYGRh0YuUPyxNwVQLiaLjZboXhWs_TOfTzvxI9DLc=w384 384w,
                            //lh3.googleusercontent.com/6GftHp2q8zrjTzGG0Xz0zQZYGRh0YuUPyxNwVQLiaLjZboXhWs_TOfTzvxI9DLc=w512 512w,
                            //lh3.googleusercontent.com/6GftHp2q8zrjTzGG0Xz0zQZYGRh0YuUPyxNwVQLiaLjZboXhWs_TOfTzvxI9DLc=w768 768w,
                            //lh3.googleusercontent.com/6GftHp2q8zrjTzGG0Xz0zQZYGRh0YuUPyxNwVQLiaLjZboXhWs_TOfTzvxI9DLc=w1024 1024w,
                            //lh3.googleusercontent.com/6GftHp2q8zrjTzGG0Xz0zQZYGRh0YuUPyxNwVQLiaLjZboXhWs_TOfTzvxI9DLc=w1200 1200w,
                            //lh3.googleusercontent.com/6GftHp2q8zrjTzGG0Xz0zQZYGRh0YuUPyxNwVQLiaLjZboXhWs_TOfTzvxI9DLc=d 1600w">
            <img src="//lh3.googleusercontent.com/9LvBDozBm5r8Ys3F3cYH2eFwwQJMo-uDsL-c3dqtmAYfTmF7hiHCNcRHmMZw=d" class="theme--layer theme--layer-1 letter-b" alt="Letter B" sizes="(min-width: 37.5rem) 7vw, 21vw" srcset="//lh3.googleusercontent.com/9LvBDozBm5r8Ys3F3cYH2eFwwQJMo-uDsL-c3dqtmAYfTmF7hiHCNcRHmMZw=w32 32w,
                            //lh3.googleusercontent.com/9LvBDozBm5r8Ys3F3cYH2eFwwQJMo-uDsL-c3dqtmAYfTmF7hiHCNcRHmMZw=w48 48w,
                            //lh3.googleusercontent.com/9LvBDozBm5r8Ys3F3cYH2eFwwQJMo-uDsL-c3dqtmAYfTmF7hiHCNcRHmMZw=w64 64w,
                            //lh3.googleusercontent.com/9LvBDozBm5r8Ys3F3cYH2eFwwQJMo-uDsL-c3dqtmAYfTmF7hiHCNcRHmMZw=w96 96w,
                            //lh3.googleusercontent.com/9LvBDozBm5r8Ys3F3cYH2eFwwQJMo-uDsL-c3dqtmAYfTmF7hiHCNcRHmMZw=w128 128w,
                            //lh3.googleusercontent.com/9LvBDozBm5r8Ys3F3cYH2eFwwQJMo-uDsL-c3dqtmAYfTmF7hiHCNcRHmMZw=w192 192w,
                            //lh3.googleusercontent.com/9LvBDozBm5r8Ys3F3cYH2eFwwQJMo-uDsL-c3dqtmAYfTmF7hiHCNcRHmMZw=w256 256w,
                            //lh3.googleusercontent.com/9LvBDozBm5r8Ys3F3cYH2eFwwQJMo-uDsL-c3dqtmAYfTmF7hiHCNcRHmMZw=w384 384w,
                            //lh3.googleusercontent.com/9LvBDozBm5r8Ys3F3cYH2eFwwQJMo-uDsL-c3dqtmAYfTmF7hiHCNcRHmMZw=w512 512w,
                            //lh3.googleusercontent.com/9LvBDozBm5r8Ys3F3cYH2eFwwQJMo-uDsL-c3dqtmAYfTmF7hiHCNcRHmMZw=w768 768w,
                            //lh3.googleusercontent.com/9LvBDozBm5r8Ys3F3cYH2eFwwQJMo-uDsL-c3dqtmAYfTmF7hiHCNcRHmMZw=w1024 1024w,
                            //lh3.googleusercontent.com/9LvBDozBm5r8Ys3F3cYH2eFwwQJMo-uDsL-c3dqtmAYfTmF7hiHCNcRHmMZw=w1200 1200w,
                            //lh3.googleusercontent.com/9LvBDozBm5r8Ys3F3cYH2eFwwQJMo-uDsL-c3dqtmAYfTmF7hiHCNcRHmMZw=d 1600w">
            <img src="//lh3.googleusercontent.com/Sp4ZzNq2eI5tylQz9NrBND3-VDG7XcKBr0PXMtqZFjvNywZSXRsOKmeCTxQ8lH4=d" class="theme--layer theme--layer-1 letter-a" alt="Letter A" sizes="(min-width: 37.5rem) 7vw, 21vw" srcset="//lh3.googleusercontent.com/Sp4ZzNq2eI5tylQz9NrBND3-VDG7XcKBr0PXMtqZFjvNywZSXRsOKmeCTxQ8lH4=w32 32w,
                            //lh3.googleusercontent.com/Sp4ZzNq2eI5tylQz9NrBND3-VDG7XcKBr0PXMtqZFjvNywZSXRsOKmeCTxQ8lH4=w48 48w,
                            //lh3.googleusercontent.com/Sp4ZzNq2eI5tylQz9NrBND3-VDG7XcKBr0PXMtqZFjvNywZSXRsOKmeCTxQ8lH4=w64 64w,
                            //lh3.googleusercontent.com/Sp4ZzNq2eI5tylQz9NrBND3-VDG7XcKBr0PXMtqZFjvNywZSXRsOKmeCTxQ8lH4=w96 96w,
                            //lh3.googleusercontent.com/Sp4ZzNq2eI5tylQz9NrBND3-VDG7XcKBr0PXMtqZFjvNywZSXRsOKmeCTxQ8lH4=w128 128w,
                            //lh3.googleusercontent.com/Sp4ZzNq2eI5tylQz9NrBND3-VDG7XcKBr0PXMtqZFjvNywZSXRsOKmeCTxQ8lH4=w192 192w,
                            //lh3.googleusercontent.com/Sp4ZzNq2eI5tylQz9NrBND3-VDG7XcKBr0PXMtqZFjvNywZSXRsOKmeCTxQ8lH4=w256 256w,
                            //lh3.googleusercontent.com/Sp4ZzNq2eI5tylQz9NrBND3-VDG7XcKBr0PXMtqZFjvNywZSXRsOKmeCTxQ8lH4=w384 384w,
                            //lh3.googleusercontent.com/Sp4ZzNq2eI5tylQz9NrBND3-VDG7XcKBr0PXMtqZFjvNywZSXRsOKmeCTxQ8lH4=w512 512w,
                            //lh3.googleusercontent.com/Sp4ZzNq2eI5tylQz9NrBND3-VDG7XcKBr0PXMtqZFjvNywZSXRsOKmeCTxQ8lH4=w768 768w,
                            //lh3.googleusercontent.com/Sp4ZzNq2eI5tylQz9NrBND3-VDG7XcKBr0PXMtqZFjvNywZSXRsOKmeCTxQ8lH4=w1024 1024w,
                            //lh3.googleusercontent.com/Sp4ZzNq2eI5tylQz9NrBND3-VDG7XcKBr0PXMtqZFjvNywZSXRsOKmeCTxQ8lH4=w1200 1200w,
                            //lh3.googleusercontent.com/Sp4ZzNq2eI5tylQz9NrBND3-VDG7XcKBr0PXMtqZFjvNywZSXRsOKmeCTxQ8lH4=d 1600w">
            <img src="//lh3.googleusercontent.com/qxx_R2lwF9JfNbtMoMyK2x73XezkYruSM6CVrLVpLqZ8CCxiWOdbIn8aR9kjsw=d" class="theme--layer theme--layer-1 football" alt="Ball" sizes="(min-width: 37.5rem) 15vw, 30vw" srcset="//lh3.googleusercontent.com/qxx_R2lwF9JfNbtMoMyK2x73XezkYruSM6CVrLVpLqZ8CCxiWOdbIn8aR9kjsw=w32 32w,
                            //lh3.googleusercontent.com/qxx_R2lwF9JfNbtMoMyK2x73XezkYruSM6CVrLVpLqZ8CCxiWOdbIn8aR9kjsw=w48 48w,
                            //lh3.googleusercontent.com/qxx_R2lwF9JfNbtMoMyK2x73XezkYruSM6CVrLVpLqZ8CCxiWOdbIn8aR9kjsw=w64 64w,
                            //lh3.googleusercontent.com/qxx_R2lwF9JfNbtMoMyK2x73XezkYruSM6CVrLVpLqZ8CCxiWOdbIn8aR9kjsw=w96 96w,
                            //lh3.googleusercontent.com/qxx_R2lwF9JfNbtMoMyK2x73XezkYruSM6CVrLVpLqZ8CCxiWOdbIn8aR9kjsw=w128 128w,
                            //lh3.googleusercontent.com/qxx_R2lwF9JfNbtMoMyK2x73XezkYruSM6CVrLVpLqZ8CCxiWOdbIn8aR9kjsw=w192 192w,
                            //lh3.googleusercontent.com/qxx_R2lwF9JfNbtMoMyK2x73XezkYruSM6CVrLVpLqZ8CCxiWOdbIn8aR9kjsw=w256 256w,
                            //lh3.googleusercontent.com/qxx_R2lwF9JfNbtMoMyK2x73XezkYruSM6CVrLVpLqZ8CCxiWOdbIn8aR9kjsw=w384 384w,
                            //lh3.googleusercontent.com/qxx_R2lwF9JfNbtMoMyK2x73XezkYruSM6CVrLVpLqZ8CCxiWOdbIn8aR9kjsw=w512 512w,
                            //lh3.googleusercontent.com/qxx_R2lwF9JfNbtMoMyK2x73XezkYruSM6CVrLVpLqZ8CCxiWOdbIn8aR9kjsw=w768 768w,
                            //lh3.googleusercontent.com/qxx_R2lwF9JfNbtMoMyK2x73XezkYruSM6CVrLVpLqZ8CCxiWOdbIn8aR9kjsw=w1024 1024w,
                            //lh3.googleusercontent.com/qxx_R2lwF9JfNbtMoMyK2x73XezkYruSM6CVrLVpLqZ8CCxiWOdbIn8aR9kjsw=w1200 1200w,
                            //lh3.googleusercontent.com/qxx_R2lwF9JfNbtMoMyK2x73XezkYruSM6CVrLVpLqZ8CCxiWOdbIn8aR9kjsw=d 1600w">
            <img src="//lh3.googleusercontent.com/qfL8w8HhVvq0PI9rsXZbjBc9gDZtNbE8km3C7-2jMje6Fq0WGWV7x2SNiqpK=d" class="theme--layer theme--layer-1 blog" alt="Family Blog" sizes="(min-width: 75rem) 55vw, (min-width: 60rem) 60vw, 70vw" srcset="//lh3.googleusercontent.com/qfL8w8HhVvq0PI9rsXZbjBc9gDZtNbE8km3C7-2jMje6Fq0WGWV7x2SNiqpK=w32 32w,
                            //lh3.googleusercontent.com/qfL8w8HhVvq0PI9rsXZbjBc9gDZtNbE8km3C7-2jMje6Fq0WGWV7x2SNiqpK=w48 48w,
                            //lh3.googleusercontent.com/qfL8w8HhVvq0PI9rsXZbjBc9gDZtNbE8km3C7-2jMje6Fq0WGWV7x2SNiqpK=w64 64w,
                            //lh3.googleusercontent.com/qfL8w8HhVvq0PI9rsXZbjBc9gDZtNbE8km3C7-2jMje6Fq0WGWV7x2SNiqpK=w96 96w,
                            //lh3.googleusercontent.com/qfL8w8HhVvq0PI9rsXZbjBc9gDZtNbE8km3C7-2jMje6Fq0WGWV7x2SNiqpK=w128 128w,
                            //lh3.googleusercontent.com/qfL8w8HhVvq0PI9rsXZbjBc9gDZtNbE8km3C7-2jMje6Fq0WGWV7x2SNiqpK=w192 192w,
                            //lh3.googleusercontent.com/qfL8w8HhVvq0PI9rsXZbjBc9gDZtNbE8km3C7-2jMje6Fq0WGWV7x2SNiqpK=w256 256w,
                            //lh3.googleusercontent.com/qfL8w8HhVvq0PI9rsXZbjBc9gDZtNbE8km3C7-2jMje6Fq0WGWV7x2SNiqpK=w384 384w,
                            //lh3.googleusercontent.com/qfL8w8HhVvq0PI9rsXZbjBc9gDZtNbE8km3C7-2jMje6Fq0WGWV7x2SNiqpK=w512 512w,
                            //lh3.googleusercontent.com/qfL8w8HhVvq0PI9rsXZbjBc9gDZtNbE8km3C7-2jMje6Fq0WGWV7x2SNiqpK=w768 768w,
                            //lh3.googleusercontent.com/qfL8w8HhVvq0PI9rsXZbjBc9gDZtNbE8km3C7-2jMje6Fq0WGWV7x2SNiqpK=w1024 1024w,
                            //lh3.googleusercontent.com/qfL8w8HhVvq0PI9rsXZbjBc9gDZtNbE8km3C7-2jMje6Fq0WGWV7x2SNiqpK=w1200 1200w,
                            //lh3.googleusercontent.com/qfL8w8HhVvq0PI9rsXZbjBc9gDZtNbE8km3C7-2jMje6Fq0WGWV7x2SNiqpK=d 1600w">
        </div>
        <div class="theme js-theme blue">
            <img src="//lh3.googleusercontent.com/V02lmzeK6QFkTNAFssnGgriS6KjgNLl2evPSXHtLdEHiyihTPaVVdpzERZKaiA=d" class="theme--layer theme--layer-1 drone" alt="Drone" sizes="24vw" srcset="//lh3.googleusercontent.com/V02lmzeK6QFkTNAFssnGgriS6KjgNLl2evPSXHtLdEHiyihTPaVVdpzERZKaiA=w32 32w,
                            //lh3.googleusercontent.com/V02lmzeK6QFkTNAFssnGgriS6KjgNLl2evPSXHtLdEHiyihTPaVVdpzERZKaiA=w48 48w,
                            //lh3.googleusercontent.com/V02lmzeK6QFkTNAFssnGgriS6KjgNLl2evPSXHtLdEHiyihTPaVVdpzERZKaiA=w64 64w,
                            //lh3.googleusercontent.com/V02lmzeK6QFkTNAFssnGgriS6KjgNLl2evPSXHtLdEHiyihTPaVVdpzERZKaiA=w96 96w,
                            //lh3.googleusercontent.com/V02lmzeK6QFkTNAFssnGgriS6KjgNLl2evPSXHtLdEHiyihTPaVVdpzERZKaiA=w128 128w,
                            //lh3.googleusercontent.com/V02lmzeK6QFkTNAFssnGgriS6KjgNLl2evPSXHtLdEHiyihTPaVVdpzERZKaiA=w192 192w,
                            //lh3.googleusercontent.com/V02lmzeK6QFkTNAFssnGgriS6KjgNLl2evPSXHtLdEHiyihTPaVVdpzERZKaiA=w256 256w,
                            //lh3.googleusercontent.com/V02lmzeK6QFkTNAFssnGgriS6KjgNLl2evPSXHtLdEHiyihTPaVVdpzERZKaiA=w384 384w,
                            //lh3.googleusercontent.com/V02lmzeK6QFkTNAFssnGgriS6KjgNLl2evPSXHtLdEHiyihTPaVVdpzERZKaiA=w512 512w,
                            //lh3.googleusercontent.com/V02lmzeK6QFkTNAFssnGgriS6KjgNLl2evPSXHtLdEHiyihTPaVVdpzERZKaiA=w768 768w,
                            //lh3.googleusercontent.com/V02lmzeK6QFkTNAFssnGgriS6KjgNLl2evPSXHtLdEHiyihTPaVVdpzERZKaiA=w1024 1024w,
                            //lh3.googleusercontent.com/V02lmzeK6QFkTNAFssnGgriS6KjgNLl2evPSXHtLdEHiyihTPaVVdpzERZKaiA=w1200 1200w,
                            //lh3.googleusercontent.com/V02lmzeK6QFkTNAFssnGgriS6KjgNLl2evPSXHtLdEHiyihTPaVVdpzERZKaiA=d 1600w">
            <img src="//lh3.googleusercontent.com/Br6226SyPnl0JKRaetNVksBPrakJrD3MeF_ltH6fydJ9SOpNrja5yLU2m3dAGw=d" class="theme--layer theme--layer-1 phone1" alt="Phone" sizes="(min-width: 37.5rem) 16vw, 39vw" srcset="//lh3.googleusercontent.com/Br6226SyPnl0JKRaetNVksBPrakJrD3MeF_ltH6fydJ9SOpNrja5yLU2m3dAGw=w32 32w,
                            //lh3.googleusercontent.com/Br6226SyPnl0JKRaetNVksBPrakJrD3MeF_ltH6fydJ9SOpNrja5yLU2m3dAGw=w48 48w,
                            //lh3.googleusercontent.com/Br6226SyPnl0JKRaetNVksBPrakJrD3MeF_ltH6fydJ9SOpNrja5yLU2m3dAGw=w64 64w,
                            //lh3.googleusercontent.com/Br6226SyPnl0JKRaetNVksBPrakJrD3MeF_ltH6fydJ9SOpNrja5yLU2m3dAGw=w96 96w,
                            //lh3.googleusercontent.com/Br6226SyPnl0JKRaetNVksBPrakJrD3MeF_ltH6fydJ9SOpNrja5yLU2m3dAGw=w128 128w,
                            //lh3.googleusercontent.com/Br6226SyPnl0JKRaetNVksBPrakJrD3MeF_ltH6fydJ9SOpNrja5yLU2m3dAGw=w192 192w,
                            //lh3.googleusercontent.com/Br6226SyPnl0JKRaetNVksBPrakJrD3MeF_ltH6fydJ9SOpNrja5yLU2m3dAGw=w256 256w,
                            //lh3.googleusercontent.com/Br6226SyPnl0JKRaetNVksBPrakJrD3MeF_ltH6fydJ9SOpNrja5yLU2m3dAGw=w384 384w,
                            //lh3.googleusercontent.com/Br6226SyPnl0JKRaetNVksBPrakJrD3MeF_ltH6fydJ9SOpNrja5yLU2m3dAGw=w512 512w,
                            //lh3.googleusercontent.com/Br6226SyPnl0JKRaetNVksBPrakJrD3MeF_ltH6fydJ9SOpNrja5yLU2m3dAGw=w768 768w,
                            //lh3.googleusercontent.com/Br6226SyPnl0JKRaetNVksBPrakJrD3MeF_ltH6fydJ9SOpNrja5yLU2m3dAGw=w1024 1024w,
                            //lh3.googleusercontent.com/Br6226SyPnl0JKRaetNVksBPrakJrD3MeF_ltH6fydJ9SOpNrja5yLU2m3dAGw=w1200 1200w,
                            //lh3.googleusercontent.com/Br6226SyPnl0JKRaetNVksBPrakJrD3MeF_ltH6fydJ9SOpNrja5yLU2m3dAGw=d 1600w">
            <img src="//lh3.googleusercontent.com/AwLUKnfIxjqCkWZw7vI3a2g7tqRUZ4Ne-b3KBTX8MikfBILxzL8nZrckfO_G=d" class="theme--layer theme--layer-1 temperature" alt="Thermostat" sizes="(min-width: 75rem) 13vw, (min-width: 37.5rem) 11vw, 45vw" srcset="//lh3.googleusercontent.com/AwLUKnfIxjqCkWZw7vI3a2g7tqRUZ4Ne-b3KBTX8MikfBILxzL8nZrckfO_G=w32 32w,
                            //lh3.googleusercontent.com/AwLUKnfIxjqCkWZw7vI3a2g7tqRUZ4Ne-b3KBTX8MikfBILxzL8nZrckfO_G=w48 48w,
                            //lh3.googleusercontent.com/AwLUKnfIxjqCkWZw7vI3a2g7tqRUZ4Ne-b3KBTX8MikfBILxzL8nZrckfO_G=w64 64w,
                            //lh3.googleusercontent.com/AwLUKnfIxjqCkWZw7vI3a2g7tqRUZ4Ne-b3KBTX8MikfBILxzL8nZrckfO_G=w96 96w,
                            //lh3.googleusercontent.com/AwLUKnfIxjqCkWZw7vI3a2g7tqRUZ4Ne-b3KBTX8MikfBILxzL8nZrckfO_G=w128 128w,
                            //lh3.googleusercontent.com/AwLUKnfIxjqCkWZw7vI3a2g7tqRUZ4Ne-b3KBTX8MikfBILxzL8nZrckfO_G=w192 192w,
                            //lh3.googleusercontent.com/AwLUKnfIxjqCkWZw7vI3a2g7tqRUZ4Ne-b3KBTX8MikfBILxzL8nZrckfO_G=w256 256w,
                            //lh3.googleusercontent.com/AwLUKnfIxjqCkWZw7vI3a2g7tqRUZ4Ne-b3KBTX8MikfBILxzL8nZrckfO_G=w384 384w,
                            //lh3.googleusercontent.com/AwLUKnfIxjqCkWZw7vI3a2g7tqRUZ4Ne-b3KBTX8MikfBILxzL8nZrckfO_G=w512 512w,
                            //lh3.googleusercontent.com/AwLUKnfIxjqCkWZw7vI3a2g7tqRUZ4Ne-b3KBTX8MikfBILxzL8nZrckfO_G=w768 768w,
                            //lh3.googleusercontent.com/AwLUKnfIxjqCkWZw7vI3a2g7tqRUZ4Ne-b3KBTX8MikfBILxzL8nZrckfO_G=w1024 1024w,
                            //lh3.googleusercontent.com/AwLUKnfIxjqCkWZw7vI3a2g7tqRUZ4Ne-b3KBTX8MikfBILxzL8nZrckfO_G=w1200 1200w,
                            //lh3.googleusercontent.com/AwLUKnfIxjqCkWZw7vI3a2g7tqRUZ4Ne-b3KBTX8MikfBILxzL8nZrckfO_G=d 1600w">
            <img src="//lh3.googleusercontent.com/lTnzFEVNkSc8tN6TzpIOYtfs0_u9FK3d3xiJUmOm9Ca1nsHS9sKLnzAocQ5kOg=d" class="theme--layer theme--layer-1 remote" alt="Remote" sizes="17vw" srcset="//lh3.googleusercontent.com/lTnzFEVNkSc8tN6TzpIOYtfs0_u9FK3d3xiJUmOm9Ca1nsHS9sKLnzAocQ5kOg=w32 32w,
                            //lh3.googleusercontent.com/lTnzFEVNkSc8tN6TzpIOYtfs0_u9FK3d3xiJUmOm9Ca1nsHS9sKLnzAocQ5kOg=w48 48w,
                            //lh3.googleusercontent.com/lTnzFEVNkSc8tN6TzpIOYtfs0_u9FK3d3xiJUmOm9Ca1nsHS9sKLnzAocQ5kOg=w64 64w,
                            //lh3.googleusercontent.com/lTnzFEVNkSc8tN6TzpIOYtfs0_u9FK3d3xiJUmOm9Ca1nsHS9sKLnzAocQ5kOg=w96 96w,
                            //lh3.googleusercontent.com/lTnzFEVNkSc8tN6TzpIOYtfs0_u9FK3d3xiJUmOm9Ca1nsHS9sKLnzAocQ5kOg=w128 128w,
                            //lh3.googleusercontent.com/lTnzFEVNkSc8tN6TzpIOYtfs0_u9FK3d3xiJUmOm9Ca1nsHS9sKLnzAocQ5kOg=w192 192w,
                            //lh3.googleusercontent.com/lTnzFEVNkSc8tN6TzpIOYtfs0_u9FK3d3xiJUmOm9Ca1nsHS9sKLnzAocQ5kOg=w256 256w,
                            //lh3.googleusercontent.com/lTnzFEVNkSc8tN6TzpIOYtfs0_u9FK3d3xiJUmOm9Ca1nsHS9sKLnzAocQ5kOg=w384 384w,
                            //lh3.googleusercontent.com/lTnzFEVNkSc8tN6TzpIOYtfs0_u9FK3d3xiJUmOm9Ca1nsHS9sKLnzAocQ5kOg=w512 512w,
                            //lh3.googleusercontent.com/lTnzFEVNkSc8tN6TzpIOYtfs0_u9FK3d3xiJUmOm9Ca1nsHS9sKLnzAocQ5kOg=w768 768w,
                            //lh3.googleusercontent.com/lTnzFEVNkSc8tN6TzpIOYtfs0_u9FK3d3xiJUmOm9Ca1nsHS9sKLnzAocQ5kOg=w1024 1024w,
                            //lh3.googleusercontent.com/lTnzFEVNkSc8tN6TzpIOYtfs0_u9FK3d3xiJUmOm9Ca1nsHS9sKLnzAocQ5kOg=w1200 1200w,
                            //lh3.googleusercontent.com/lTnzFEVNkSc8tN6TzpIOYtfs0_u9FK3d3xiJUmOm9Ca1nsHS9sKLnzAocQ5kOg=d 1600w">
            <img src="//lh3.googleusercontent.com/26eaRZ7AqYQFf7Zt3gBgwxiigJEz-1K4mcrIOb0bA4YjFbDnLQvMVt5VSQ7-=d" class="theme--layer theme--layer-1 smartwatch" alt="Smartwatch" sizes="(min-width: 37.5rem) 11vw, 33vw" srcset="//lh3.googleusercontent.com/26eaRZ7AqYQFf7Zt3gBgwxiigJEz-1K4mcrIOb0bA4YjFbDnLQvMVt5VSQ7-=w32 32w,
                            //lh3.googleusercontent.com/26eaRZ7AqYQFf7Zt3gBgwxiigJEz-1K4mcrIOb0bA4YjFbDnLQvMVt5VSQ7-=w48 48w,
                            //lh3.googleusercontent.com/26eaRZ7AqYQFf7Zt3gBgwxiigJEz-1K4mcrIOb0bA4YjFbDnLQvMVt5VSQ7-=w64 64w,
                            //lh3.googleusercontent.com/26eaRZ7AqYQFf7Zt3gBgwxiigJEz-1K4mcrIOb0bA4YjFbDnLQvMVt5VSQ7-=w96 96w,
                            //lh3.googleusercontent.com/26eaRZ7AqYQFf7Zt3gBgwxiigJEz-1K4mcrIOb0bA4YjFbDnLQvMVt5VSQ7-=w128 128w,
                            //lh3.googleusercontent.com/26eaRZ7AqYQFf7Zt3gBgwxiigJEz-1K4mcrIOb0bA4YjFbDnLQvMVt5VSQ7-=w192 192w,
                            //lh3.googleusercontent.com/26eaRZ7AqYQFf7Zt3gBgwxiigJEz-1K4mcrIOb0bA4YjFbDnLQvMVt5VSQ7-=w256 256w,
                            //lh3.googleusercontent.com/26eaRZ7AqYQFf7Zt3gBgwxiigJEz-1K4mcrIOb0bA4YjFbDnLQvMVt5VSQ7-=w384 384w,
                            //lh3.googleusercontent.com/26eaRZ7AqYQFf7Zt3gBgwxiigJEz-1K4mcrIOb0bA4YjFbDnLQvMVt5VSQ7-=w512 512w,
                            //lh3.googleusercontent.com/26eaRZ7AqYQFf7Zt3gBgwxiigJEz-1K4mcrIOb0bA4YjFbDnLQvMVt5VSQ7-=w768 768w,
                            //lh3.googleusercontent.com/26eaRZ7AqYQFf7Zt3gBgwxiigJEz-1K4mcrIOb0bA4YjFbDnLQvMVt5VSQ7-=w1024 1024w,
                            //lh3.googleusercontent.com/26eaRZ7AqYQFf7Zt3gBgwxiigJEz-1K4mcrIOb0bA4YjFbDnLQvMVt5VSQ7-=w1200 1200w,
                            //lh3.googleusercontent.com/26eaRZ7AqYQFf7Zt3gBgwxiigJEz-1K4mcrIOb0bA4YjFbDnLQvMVt5VSQ7-=d 1600w">
            <img src="//lh3.googleusercontent.com/MPmddYcgxwTm3Iy-Q_vWIyBEbdR_ugBlhQjpIg2eQPC4c1LFn-j7A3-nFawqrA=d" class="theme--layer theme--layer-1 actioncam" alt="Action Cam" sizes="(min-width: 60rem) 21vw, 28vw" srcset="//lh3.googleusercontent.com/MPmddYcgxwTm3Iy-Q_vWIyBEbdR_ugBlhQjpIg2eQPC4c1LFn-j7A3-nFawqrA=w32 32w,
                            //lh3.googleusercontent.com/MPmddYcgxwTm3Iy-Q_vWIyBEbdR_ugBlhQjpIg2eQPC4c1LFn-j7A3-nFawqrA=w48 48w,
                            //lh3.googleusercontent.com/MPmddYcgxwTm3Iy-Q_vWIyBEbdR_ugBlhQjpIg2eQPC4c1LFn-j7A3-nFawqrA=w64 64w,
                            //lh3.googleusercontent.com/MPmddYcgxwTm3Iy-Q_vWIyBEbdR_ugBlhQjpIg2eQPC4c1LFn-j7A3-nFawqrA=w96 96w,
                            //lh3.googleusercontent.com/MPmddYcgxwTm3Iy-Q_vWIyBEbdR_ugBlhQjpIg2eQPC4c1LFn-j7A3-nFawqrA=w128 128w,
                            //lh3.googleusercontent.com/MPmddYcgxwTm3Iy-Q_vWIyBEbdR_ugBlhQjpIg2eQPC4c1LFn-j7A3-nFawqrA=w192 192w,
                            //lh3.googleusercontent.com/MPmddYcgxwTm3Iy-Q_vWIyBEbdR_ugBlhQjpIg2eQPC4c1LFn-j7A3-nFawqrA=w256 256w,
                            //lh3.googleusercontent.com/MPmddYcgxwTm3Iy-Q_vWIyBEbdR_ugBlhQjpIg2eQPC4c1LFn-j7A3-nFawqrA=w384 384w,
                            //lh3.googleusercontent.com/MPmddYcgxwTm3Iy-Q_vWIyBEbdR_ugBlhQjpIg2eQPC4c1LFn-j7A3-nFawqrA=w512 512w,
                            //lh3.googleusercontent.com/MPmddYcgxwTm3Iy-Q_vWIyBEbdR_ugBlhQjpIg2eQPC4c1LFn-j7A3-nFawqrA=w768 768w,
                            //lh3.googleusercontent.com/MPmddYcgxwTm3Iy-Q_vWIyBEbdR_ugBlhQjpIg2eQPC4c1LFn-j7A3-nFawqrA=w1024 1024w,
                            //lh3.googleusercontent.com/MPmddYcgxwTm3Iy-Q_vWIyBEbdR_ugBlhQjpIg2eQPC4c1LFn-j7A3-nFawqrA=w1200 1200w,
                            //lh3.googleusercontent.com/MPmddYcgxwTm3Iy-Q_vWIyBEbdR_ugBlhQjpIg2eQPC4c1LFn-j7A3-nFawqrA=d 1600w">
            <img src="//lh3.googleusercontent.com/q9EDVvchfjgVyxzRhh2AGq_JF9UaRP5NiP_-oMSwaiKfkZfmDSlk6f5kI5jo_g=d" class="theme--layer theme--layer-1 blog" alt="Tech Blog" sizes="min-width: 75rem) 55vw, (min-width: 60rem) 60vw, 70vw" srcset="//lh3.googleusercontent.com/q9EDVvchfjgVyxzRhh2AGq_JF9UaRP5NiP_-oMSwaiKfkZfmDSlk6f5kI5jo_g=w32 32w,
                            //lh3.googleusercontent.com/q9EDVvchfjgVyxzRhh2AGq_JF9UaRP5NiP_-oMSwaiKfkZfmDSlk6f5kI5jo_g=w48 48w,
                            //lh3.googleusercontent.com/q9EDVvchfjgVyxzRhh2AGq_JF9UaRP5NiP_-oMSwaiKfkZfmDSlk6f5kI5jo_g=w64 64w,
                            //lh3.googleusercontent.com/q9EDVvchfjgVyxzRhh2AGq_JF9UaRP5NiP_-oMSwaiKfkZfmDSlk6f5kI5jo_g=w96 96w,
                            //lh3.googleusercontent.com/q9EDVvchfjgVyxzRhh2AGq_JF9UaRP5NiP_-oMSwaiKfkZfmDSlk6f5kI5jo_g=w128 128w,
                            //lh3.googleusercontent.com/q9EDVvchfjgVyxzRhh2AGq_JF9UaRP5NiP_-oMSwaiKfkZfmDSlk6f5kI5jo_g=w192 192w,
                            //lh3.googleusercontent.com/q9EDVvchfjgVyxzRhh2AGq_JF9UaRP5NiP_-oMSwaiKfkZfmDSlk6f5kI5jo_g=w256 256w,
                            //lh3.googleusercontent.com/q9EDVvchfjgVyxzRhh2AGq_JF9UaRP5NiP_-oMSwaiKfkZfmDSlk6f5kI5jo_g=w384 384w,
                            //lh3.googleusercontent.com/q9EDVvchfjgVyxzRhh2AGq_JF9UaRP5NiP_-oMSwaiKfkZfmDSlk6f5kI5jo_g=w512 512w,
                            //lh3.googleusercontent.com/q9EDVvchfjgVyxzRhh2AGq_JF9UaRP5NiP_-oMSwaiKfkZfmDSlk6f5kI5jo_g=w768 768w,
                            //lh3.googleusercontent.com/q9EDVvchfjgVyxzRhh2AGq_JF9UaRP5NiP_-oMSwaiKfkZfmDSlk6f5kI5jo_g=w1024 1024w,
                            //lh3.googleusercontent.com/q9EDVvchfjgVyxzRhh2AGq_JF9UaRP5NiP_-oMSwaiKfkZfmDSlk6f5kI5jo_g=w1200 1200w,
                            //lh3.googleusercontent.com/q9EDVvchfjgVyxzRhh2AGq_JF9UaRP5NiP_-oMSwaiKfkZfmDSlk6f5kI5jo_g=d 1600w">
        </div>
        <div class="theme js-theme red">
            <img src="//lh3.googleusercontent.com/bUmhI8lzLM1TfnsTsBw6SDwD_SdJq6--zDXelMF90N-4WqWr_dCmIfJfmaJS=d" class="theme--layer theme--layer-1 spoon" alt="Spoon" sizes="21vw" srcset="//lh3.googleusercontent.com/bUmhI8lzLM1TfnsTsBw6SDwD_SdJq6--zDXelMF90N-4WqWr_dCmIfJfmaJS=w32 32w,
                            //lh3.googleusercontent.com/bUmhI8lzLM1TfnsTsBw6SDwD_SdJq6--zDXelMF90N-4WqWr_dCmIfJfmaJS=w48 48w,
                            //lh3.googleusercontent.com/bUmhI8lzLM1TfnsTsBw6SDwD_SdJq6--zDXelMF90N-4WqWr_dCmIfJfmaJS=w64 64w,
                            //lh3.googleusercontent.com/bUmhI8lzLM1TfnsTsBw6SDwD_SdJq6--zDXelMF90N-4WqWr_dCmIfJfmaJS=w96 96w,
                            //lh3.googleusercontent.com/bUmhI8lzLM1TfnsTsBw6SDwD_SdJq6--zDXelMF90N-4WqWr_dCmIfJfmaJS=w128 128w,
                            //lh3.googleusercontent.com/bUmhI8lzLM1TfnsTsBw6SDwD_SdJq6--zDXelMF90N-4WqWr_dCmIfJfmaJS=w192 192w,
                            //lh3.googleusercontent.com/bUmhI8lzLM1TfnsTsBw6SDwD_SdJq6--zDXelMF90N-4WqWr_dCmIfJfmaJS=w256 256w,
                            //lh3.googleusercontent.com/bUmhI8lzLM1TfnsTsBw6SDwD_SdJq6--zDXelMF90N-4WqWr_dCmIfJfmaJS=w384 384w,
                            //lh3.googleusercontent.com/bUmhI8lzLM1TfnsTsBw6SDwD_SdJq6--zDXelMF90N-4WqWr_dCmIfJfmaJS=w512 512w,
                            //lh3.googleusercontent.com/bUmhI8lzLM1TfnsTsBw6SDwD_SdJq6--zDXelMF90N-4WqWr_dCmIfJfmaJS=w768 768w,
                            //lh3.googleusercontent.com/bUmhI8lzLM1TfnsTsBw6SDwD_SdJq6--zDXelMF90N-4WqWr_dCmIfJfmaJS=w1024 1024w,
                            //lh3.googleusercontent.com/bUmhI8lzLM1TfnsTsBw6SDwD_SdJq6--zDXelMF90N-4WqWr_dCmIfJfmaJS=w1200 1200w,
                            //lh3.googleusercontent.com/bUmhI8lzLM1TfnsTsBw6SDwD_SdJq6--zDXelMF90N-4WqWr_dCmIfJfmaJS=d 1600w">
            <img src="//lh3.googleusercontent.com/bkZfwpDRL1PEZ8W8gZFb4C2j-m2b6OafU7pe4KIfxhkyFsZXNAFRTAQ-zPyWFA=d" class="theme--layer theme--layer-1 mixer" alt="Mixer" sizes="(min-width: 37.5rem) 16vw, 54vw" srcset="//lh3.googleusercontent.com/bkZfwpDRL1PEZ8W8gZFb4C2j-m2b6OafU7pe4KIfxhkyFsZXNAFRTAQ-zPyWFA=w32 32w,
                            //lh3.googleusercontent.com/bkZfwpDRL1PEZ8W8gZFb4C2j-m2b6OafU7pe4KIfxhkyFsZXNAFRTAQ-zPyWFA=w48 48w,
                            //lh3.googleusercontent.com/bkZfwpDRL1PEZ8W8gZFb4C2j-m2b6OafU7pe4KIfxhkyFsZXNAFRTAQ-zPyWFA=w64 64w,
                            //lh3.googleusercontent.com/bkZfwpDRL1PEZ8W8gZFb4C2j-m2b6OafU7pe4KIfxhkyFsZXNAFRTAQ-zPyWFA=w96 96w,
                            //lh3.googleusercontent.com/bkZfwpDRL1PEZ8W8gZFb4C2j-m2b6OafU7pe4KIfxhkyFsZXNAFRTAQ-zPyWFA=w128 128w,
                            //lh3.googleusercontent.com/bkZfwpDRL1PEZ8W8gZFb4C2j-m2b6OafU7pe4KIfxhkyFsZXNAFRTAQ-zPyWFA=w192 192w,
                            //lh3.googleusercontent.com/bkZfwpDRL1PEZ8W8gZFb4C2j-m2b6OafU7pe4KIfxhkyFsZXNAFRTAQ-zPyWFA=w256 256w,
                            //lh3.googleusercontent.com/bkZfwpDRL1PEZ8W8gZFb4C2j-m2b6OafU7pe4KIfxhkyFsZXNAFRTAQ-zPyWFA=w384 384w,
                            //lh3.googleusercontent.com/bkZfwpDRL1PEZ8W8gZFb4C2j-m2b6OafU7pe4KIfxhkyFsZXNAFRTAQ-zPyWFA=w512 512w,
                            //lh3.googleusercontent.com/bkZfwpDRL1PEZ8W8gZFb4C2j-m2b6OafU7pe4KIfxhkyFsZXNAFRTAQ-zPyWFA=w768 768w,
                            //lh3.googleusercontent.com/bkZfwpDRL1PEZ8W8gZFb4C2j-m2b6OafU7pe4KIfxhkyFsZXNAFRTAQ-zPyWFA=w1024 1024w,
                            //lh3.googleusercontent.com/bkZfwpDRL1PEZ8W8gZFb4C2j-m2b6OafU7pe4KIfxhkyFsZXNAFRTAQ-zPyWFA=w1200 1200w,
                            //lh3.googleusercontent.com/bkZfwpDRL1PEZ8W8gZFb4C2j-m2b6OafU7pe4KIfxhkyFsZXNAFRTAQ-zPyWFA=d 1600w">
            <img src="//lh3.googleusercontent.com/5R8IjxFf2Aatn2ivlRCWDWkRI04nNgpap0dUyMzVAeiWlvsDAIxHZIu-t3NpHg4=d" class="theme--layer theme--layer-1 eggs" alt="Eggs" sizes="(min-width: 60rem) 21vw, 20vw" srcset="//lh3.googleusercontent.com/5R8IjxFf2Aatn2ivlRCWDWkRI04nNgpap0dUyMzVAeiWlvsDAIxHZIu-t3NpHg4=w32 32w,
                            //lh3.googleusercontent.com/5R8IjxFf2Aatn2ivlRCWDWkRI04nNgpap0dUyMzVAeiWlvsDAIxHZIu-t3NpHg4=w48 48w,
                            //lh3.googleusercontent.com/5R8IjxFf2Aatn2ivlRCWDWkRI04nNgpap0dUyMzVAeiWlvsDAIxHZIu-t3NpHg4=w64 64w,
                            //lh3.googleusercontent.com/5R8IjxFf2Aatn2ivlRCWDWkRI04nNgpap0dUyMzVAeiWlvsDAIxHZIu-t3NpHg4=w96 96w,
                            //lh3.googleusercontent.com/5R8IjxFf2Aatn2ivlRCWDWkRI04nNgpap0dUyMzVAeiWlvsDAIxHZIu-t3NpHg4=w128 128w,
                            //lh3.googleusercontent.com/5R8IjxFf2Aatn2ivlRCWDWkRI04nNgpap0dUyMzVAeiWlvsDAIxHZIu-t3NpHg4=w192 192w,
                            //lh3.googleusercontent.com/5R8IjxFf2Aatn2ivlRCWDWkRI04nNgpap0dUyMzVAeiWlvsDAIxHZIu-t3NpHg4=w256 256w,
                            //lh3.googleusercontent.com/5R8IjxFf2Aatn2ivlRCWDWkRI04nNgpap0dUyMzVAeiWlvsDAIxHZIu-t3NpHg4=w384 384w,
                            //lh3.googleusercontent.com/5R8IjxFf2Aatn2ivlRCWDWkRI04nNgpap0dUyMzVAeiWlvsDAIxHZIu-t3NpHg4=w512 512w,
                            //lh3.googleusercontent.com/5R8IjxFf2Aatn2ivlRCWDWkRI04nNgpap0dUyMzVAeiWlvsDAIxHZIu-t3NpHg4=w768 768w,
                            //lh3.googleusercontent.com/5R8IjxFf2Aatn2ivlRCWDWkRI04nNgpap0dUyMzVAeiWlvsDAIxHZIu-t3NpHg4=w1024 1024w,
                            //lh3.googleusercontent.com/5R8IjxFf2Aatn2ivlRCWDWkRI04nNgpap0dUyMzVAeiWlvsDAIxHZIu-t3NpHg4=w1200 1200w,
                            //lh3.googleusercontent.com/5R8IjxFf2Aatn2ivlRCWDWkRI04nNgpap0dUyMzVAeiWlvsDAIxHZIu-t3NpHg4=d 1600w">
            <img src="//lh3.googleusercontent.com/_i6FMmMDzrDTVkyCIJwbkZJulXtfrddhjL7-NZNeKg05kI_TgkL8K_zfBGd9Kmo=d" class="theme--layer theme--layer-1 cherries" alt="Cherries" sizes="15vw" srcset="//lh3.googleusercontent.com/_i6FMmMDzrDTVkyCIJwbkZJulXtfrddhjL7-NZNeKg05kI_TgkL8K_zfBGd9Kmo=w32 32w,
                            //lh3.googleusercontent.com/_i6FMmMDzrDTVkyCIJwbkZJulXtfrddhjL7-NZNeKg05kI_TgkL8K_zfBGd9Kmo=w48 48w,
                            //lh3.googleusercontent.com/_i6FMmMDzrDTVkyCIJwbkZJulXtfrddhjL7-NZNeKg05kI_TgkL8K_zfBGd9Kmo=w64 64w,
                            //lh3.googleusercontent.com/_i6FMmMDzrDTVkyCIJwbkZJulXtfrddhjL7-NZNeKg05kI_TgkL8K_zfBGd9Kmo=w96 96w,
                            //lh3.googleusercontent.com/_i6FMmMDzrDTVkyCIJwbkZJulXtfrddhjL7-NZNeKg05kI_TgkL8K_zfBGd9Kmo=w128 128w,
                            //lh3.googleusercontent.com/_i6FMmMDzrDTVkyCIJwbkZJulXtfrddhjL7-NZNeKg05kI_TgkL8K_zfBGd9Kmo=w192 192w,
                            //lh3.googleusercontent.com/_i6FMmMDzrDTVkyCIJwbkZJulXtfrddhjL7-NZNeKg05kI_TgkL8K_zfBGd9Kmo=w256 256w,
                            //lh3.googleusercontent.com/_i6FMmMDzrDTVkyCIJwbkZJulXtfrddhjL7-NZNeKg05kI_TgkL8K_zfBGd9Kmo=w384 384w,
                            //lh3.googleusercontent.com/_i6FMmMDzrDTVkyCIJwbkZJulXtfrddhjL7-NZNeKg05kI_TgkL8K_zfBGd9Kmo=w512 512w,
                            //lh3.googleusercontent.com/_i6FMmMDzrDTVkyCIJwbkZJulXtfrddhjL7-NZNeKg05kI_TgkL8K_zfBGd9Kmo=w768 768w,
                            //lh3.googleusercontent.com/_i6FMmMDzrDTVkyCIJwbkZJulXtfrddhjL7-NZNeKg05kI_TgkL8K_zfBGd9Kmo=w1024 1024w,
                            //lh3.googleusercontent.com/_i6FMmMDzrDTVkyCIJwbkZJulXtfrddhjL7-NZNeKg05kI_TgkL8K_zfBGd9Kmo=w1200 1200w,
                            //lh3.googleusercontent.com/_i6FMmMDzrDTVkyCIJwbkZJulXtfrddhjL7-NZNeKg05kI_TgkL8K_zfBGd9Kmo=d 1600w">
            <img src="//lh3.googleusercontent.com/XLIzvEbVuqXvYxUK0lfilYg612zc4qFnhLWASre2oS1HYZkKrPuMG54By3CJ1A=d" class="theme--layer theme--layer-1 rollover" alt="Rollover" sizes="24vw" srcset="//lh3.googleusercontent.com/XLIzvEbVuqXvYxUK0lfilYg612zc4qFnhLWASre2oS1HYZkKrPuMG54By3CJ1A=w32 32w,
                            //lh3.googleusercontent.com/XLIzvEbVuqXvYxUK0lfilYg612zc4qFnhLWASre2oS1HYZkKrPuMG54By3CJ1A=w48 48w,
                            //lh3.googleusercontent.com/XLIzvEbVuqXvYxUK0lfilYg612zc4qFnhLWASre2oS1HYZkKrPuMG54By3CJ1A=w64 64w,
                            //lh3.googleusercontent.com/XLIzvEbVuqXvYxUK0lfilYg612zc4qFnhLWASre2oS1HYZkKrPuMG54By3CJ1A=w96 96w,
                            //lh3.googleusercontent.com/XLIzvEbVuqXvYxUK0lfilYg612zc4qFnhLWASre2oS1HYZkKrPuMG54By3CJ1A=w128 128w,
                            //lh3.googleusercontent.com/XLIzvEbVuqXvYxUK0lfilYg612zc4qFnhLWASre2oS1HYZkKrPuMG54By3CJ1A=w192 192w,
                            //lh3.googleusercontent.com/XLIzvEbVuqXvYxUK0lfilYg612zc4qFnhLWASre2oS1HYZkKrPuMG54By3CJ1A=w256 256w,
                            //lh3.googleusercontent.com/XLIzvEbVuqXvYxUK0lfilYg612zc4qFnhLWASre2oS1HYZkKrPuMG54By3CJ1A=w384 384w,
                            //lh3.googleusercontent.com/XLIzvEbVuqXvYxUK0lfilYg612zc4qFnhLWASre2oS1HYZkKrPuMG54By3CJ1A=w512 512w,
                            //lh3.googleusercontent.com/XLIzvEbVuqXvYxUK0lfilYg612zc4qFnhLWASre2oS1HYZkKrPuMG54By3CJ1A=w768 768w,
                            //lh3.googleusercontent.com/XLIzvEbVuqXvYxUK0lfilYg612zc4qFnhLWASre2oS1HYZkKrPuMG54By3CJ1A=w1024 1024w,
                            //lh3.googleusercontent.com/XLIzvEbVuqXvYxUK0lfilYg612zc4qFnhLWASre2oS1HYZkKrPuMG54By3CJ1A=w1200 1200w,
                            //lh3.googleusercontent.com/XLIzvEbVuqXvYxUK0lfilYg612zc4qFnhLWASre2oS1HYZkKrPuMG54By3CJ1A=d 1600w">
            <img src="//lh3.googleusercontent.com/ik3pxLhNpdCMLyi3o_mpkMaGASASLMjSQJ_v7TutUuIiD-qtLkXEiRYlPzGhoQ=d" class="theme--layer theme--layer-1 shape" alt="Shape" sizes="(min-width: 37.5rem) 9vw, 25vw" srcset="//lh3.googleusercontent.com/ik3pxLhNpdCMLyi3o_mpkMaGASASLMjSQJ_v7TutUuIiD-qtLkXEiRYlPzGhoQ=w32 32w,
                            //lh3.googleusercontent.com/ik3pxLhNpdCMLyi3o_mpkMaGASASLMjSQJ_v7TutUuIiD-qtLkXEiRYlPzGhoQ=w48 48w,
                            //lh3.googleusercontent.com/ik3pxLhNpdCMLyi3o_mpkMaGASASLMjSQJ_v7TutUuIiD-qtLkXEiRYlPzGhoQ=w64 64w,
                            //lh3.googleusercontent.com/ik3pxLhNpdCMLyi3o_mpkMaGASASLMjSQJ_v7TutUuIiD-qtLkXEiRYlPzGhoQ=w96 96w,
                            //lh3.googleusercontent.com/ik3pxLhNpdCMLyi3o_mpkMaGASASLMjSQJ_v7TutUuIiD-qtLkXEiRYlPzGhoQ=w128 128w,
                            //lh3.googleusercontent.com/ik3pxLhNpdCMLyi3o_mpkMaGASASLMjSQJ_v7TutUuIiD-qtLkXEiRYlPzGhoQ=w192 192w,
                            //lh3.googleusercontent.com/ik3pxLhNpdCMLyi3o_mpkMaGASASLMjSQJ_v7TutUuIiD-qtLkXEiRYlPzGhoQ=w256 256w,
                            //lh3.googleusercontent.com/ik3pxLhNpdCMLyi3o_mpkMaGASASLMjSQJ_v7TutUuIiD-qtLkXEiRYlPzGhoQ=w384 384w,
                            //lh3.googleusercontent.com/ik3pxLhNpdCMLyi3o_mpkMaGASASLMjSQJ_v7TutUuIiD-qtLkXEiRYlPzGhoQ=w512 512w,
                            //lh3.googleusercontent.com/ik3pxLhNpdCMLyi3o_mpkMaGASASLMjSQJ_v7TutUuIiD-qtLkXEiRYlPzGhoQ=w768 768w,
                            //lh3.googleusercontent.com/ik3pxLhNpdCMLyi3o_mpkMaGASASLMjSQJ_v7TutUuIiD-qtLkXEiRYlPzGhoQ=w1024 1024w,
                            //lh3.googleusercontent.com/ik3pxLhNpdCMLyi3o_mpkMaGASASLMjSQJ_v7TutUuIiD-qtLkXEiRYlPzGhoQ=w1200 1200w,
                            //lh3.googleusercontent.com/ik3pxLhNpdCMLyi3o_mpkMaGASASLMjSQJ_v7TutUuIiD-qtLkXEiRYlPzGhoQ=d 1600w">
            <img src="//lh3.googleusercontent.com/pfOxQQNkn-S8TN9jPb-jAEtOF-caZWj-yZQDzp4GPFx2N8pGCdHv_7kajYOr8Q=d" class="theme--layer theme--layer-1 pie" alt="Pie" sizes="(min-width: 37.5rem) 25vw, 78vw" srcset="//lh3.googleusercontent.com/pfOxQQNkn-S8TN9jPb-jAEtOF-caZWj-yZQDzp4GPFx2N8pGCdHv_7kajYOr8Q=w32 32w,
                            //lh3.googleusercontent.com/pfOxQQNkn-S8TN9jPb-jAEtOF-caZWj-yZQDzp4GPFx2N8pGCdHv_7kajYOr8Q=w48 48w,
                            //lh3.googleusercontent.com/pfOxQQNkn-S8TN9jPb-jAEtOF-caZWj-yZQDzp4GPFx2N8pGCdHv_7kajYOr8Q=w64 64w,
                            //lh3.googleusercontent.com/pfOxQQNkn-S8TN9jPb-jAEtOF-caZWj-yZQDzp4GPFx2N8pGCdHv_7kajYOr8Q=w96 96w,
                            //lh3.googleusercontent.com/pfOxQQNkn-S8TN9jPb-jAEtOF-caZWj-yZQDzp4GPFx2N8pGCdHv_7kajYOr8Q=w128 128w,
                            //lh3.googleusercontent.com/pfOxQQNkn-S8TN9jPb-jAEtOF-caZWj-yZQDzp4GPFx2N8pGCdHv_7kajYOr8Q=w192 192w,
                            //lh3.googleusercontent.com/pfOxQQNkn-S8TN9jPb-jAEtOF-caZWj-yZQDzp4GPFx2N8pGCdHv_7kajYOr8Q=w256 256w,
                            //lh3.googleusercontent.com/pfOxQQNkn-S8TN9jPb-jAEtOF-caZWj-yZQDzp4GPFx2N8pGCdHv_7kajYOr8Q=w384 384w,
                            //lh3.googleusercontent.com/pfOxQQNkn-S8TN9jPb-jAEtOF-caZWj-yZQDzp4GPFx2N8pGCdHv_7kajYOr8Q=w512 512w,
                            //lh3.googleusercontent.com/pfOxQQNkn-S8TN9jPb-jAEtOF-caZWj-yZQDzp4GPFx2N8pGCdHv_7kajYOr8Q=w768 768w,
                            //lh3.googleusercontent.com/pfOxQQNkn-S8TN9jPb-jAEtOF-caZWj-yZQDzp4GPFx2N8pGCdHv_7kajYOr8Q=w1024 1024w,
                            //lh3.googleusercontent.com/pfOxQQNkn-S8TN9jPb-jAEtOF-caZWj-yZQDzp4GPFx2N8pGCdHv_7kajYOr8Q=w1200 1200w,
                            //lh3.googleusercontent.com/pfOxQQNkn-S8TN9jPb-jAEtOF-caZWj-yZQDzp4GPFx2N8pGCdHv_7kajYOr8Q=d 1600w">
            <img src="//lh3.googleusercontent.com/pu8DIkXffB3UIO_V_EUiraLkZ38Ha4IO9itLklE6OVRf81lFnSCt9ynF9e-4tg=d" class="theme--layer theme--layer-1 blog" alt="Cooking Blog" sizes="min-width: 75rem) 55vw, (min-width: 60rem) 60vw, 70vw" srcset="//lh3.googleusercontent.com/pu8DIkXffB3UIO_V_EUiraLkZ38Ha4IO9itLklE6OVRf81lFnSCt9ynF9e-4tg=w32 32w,
                            //lh3.googleusercontent.com/pu8DIkXffB3UIO_V_EUiraLkZ38Ha4IO9itLklE6OVRf81lFnSCt9ynF9e-4tg=w48 48w,
                            //lh3.googleusercontent.com/pu8DIkXffB3UIO_V_EUiraLkZ38Ha4IO9itLklE6OVRf81lFnSCt9ynF9e-4tg=w64 64w,
                            //lh3.googleusercontent.com/pu8DIkXffB3UIO_V_EUiraLkZ38Ha4IO9itLklE6OVRf81lFnSCt9ynF9e-4tg=w96 96w,
                            //lh3.googleusercontent.com/pu8DIkXffB3UIO_V_EUiraLkZ38Ha4IO9itLklE6OVRf81lFnSCt9ynF9e-4tg=w128 128w,
                            //lh3.googleusercontent.com/pu8DIkXffB3UIO_V_EUiraLkZ38Ha4IO9itLklE6OVRf81lFnSCt9ynF9e-4tg=w192 192w,
                            //lh3.googleusercontent.com/pu8DIkXffB3UIO_V_EUiraLkZ38Ha4IO9itLklE6OVRf81lFnSCt9ynF9e-4tg=w256 256w,
                            //lh3.googleusercontent.com/pu8DIkXffB3UIO_V_EUiraLkZ38Ha4IO9itLklE6OVRf81lFnSCt9ynF9e-4tg=w384 384w,
                            //lh3.googleusercontent.com/pu8DIkXffB3UIO_V_EUiraLkZ38Ha4IO9itLklE6OVRf81lFnSCt9ynF9e-4tg=w512 512w,
                            //lh3.googleusercontent.com/pu8DIkXffB3UIO_V_EUiraLkZ38Ha4IO9itLklE6OVRf81lFnSCt9ynF9e-4tg=w768 768w,
                            //lh3.googleusercontent.com/pu8DIkXffB3UIO_V_EUiraLkZ38Ha4IO9itLklE6OVRf81lFnSCt9ynF9e-4tg=w1024 1024w,
                            //lh3.googleusercontent.com/pu8DIkXffB3UIO_V_EUiraLkZ38Ha4IO9itLklE6OVRf81lFnSCt9ynF9e-4tg=w1200 1200w,
                            //lh3.googleusercontent.com/pu8DIkXffB3UIO_V_EUiraLkZ38Ha4IO9itLklE6OVRf81lFnSCt9ynF9e-4tg=d 1600w">
        </div>
    </div>
</section>

@section Styles {
    <link rel="stylesheet" href="~/indexStyle.css" asp-append-version="true"/>
}

@section Scripts {
    <script src="~/index.bundle.js" asp-append-version="true"></script>
}